bin
include
lib
doc/src/*/*.aux
doc/src/*/*.bbl
doc/src/*/*.blg
doc/src/*/*.dvi
doc/src/*/*.log
doc/src/*/*.out
doc/src/*/*.toc
doc/src/*/*scotch*.pdf
doc/src/*/*scotch*.ps.gz
doc/src/handson/h.ps
doc/src/maint/m.ps
doc/src/ptscotch/p.ps
doc/src/scotch/s.ps
src/Makefile.inc*
src/check/*
!src/check/*[.][ch]
!src/check/*[.]f90.in
src/check/test_scotch_graph_dump2.c
!src/check/CMakeLists.txt
!src/check/Makefile
!src/check/data
src/esmumps/*[.][ao]
src/esmumps/*[.]so
src/esmumps/common.h
src/esmumps/test_esmumps
src/esmumps/test_fax
src/libscotch/*[.][ao]
src/libscotch/*[.]so
src/libscotch/dummysizes
src/libscotch/parser_ll.c
src/libscotch/parser_ly.h
src/libscotch/parser_yy.c
src/libscotch/ptdummysizes
src/libscotch/scotch.h
src/libscotch/scotchf.h
src/libscotch/ptscotch.h
src/libscotch/ptscotchf.h
src/libscotch/y.output
src/libscotchmetis/*[.][ao]
src/libscotchmetis/*[.]so
src/libscotchmetis/metis.h
src/libscotchmetis/metisf.h
src/libscotchmetis/parmetis.h
src/scotch/*
!src/scotch/*[.][ch]
!src/check/CMakeLists.txt
!src/scotch/Makefile
